<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<style>
		.img-fluid {
		  transition: transform .2s;
		}
		.img-fluid:hover {
		  transform: scale(1.1);
		}
		#cmd {
		background-color: black;
		color: white;
		padding: 10px;
		font-family: monospace;
		white-space: pre-wrap;
		overflow-wrap: break-word;
		}
	</style>
	
	<script type="text/javascript">
    document.addEventListener('contextmenu', function(e) {
        e.preventDefault();
    });
    document.addEventListener('selectstart', function(e) {
        e.preventDefault();
    });
    function encryptHTML(content) {
        return encryptedContent;
    }
    function decryptHTML(content) {
        return decryptedContent;
    }
    window.onload = function() {
        var encryptedContent = "Aquí va tu contenido cifrado";
        var decryptedContent = decryptHTML(encryptedContent);
        document.body.innerHTML = decryptedContent;
    };
	</script>
	
	<script type="text/javascript">
		window.onbeforeprint = function() {
		// alert("Está desactivada para esta página.");
			return false;
		};
		var style = document.createElement("style");
		style.type = "text/css";
		style.media = "print";
		style.appendChild(document.createTextNode("@media print { body { display: none !important; } }"));
		document.head.appendChild(style);
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<script>
		$(document).ready(function(){
			$('.collapse').on('show.bs.collapse', function () {
				$('.collapse.show').collapse('hide');
			});
		});
	</script>