<div class="read-more">
  <div class="read-more-header">
    <a href="{{site.url}}{{site.baseurl}}/about" class="read-more-btn">Acerca de mí</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <h3>{{site.owner.name}}</h3>
    <div class="author-container">
      <img class="author-img" src="{{site.url}}{{site.baseurl}}/{{site.owner.avatar}}" alt="{{site.owner.name}}" />
      <div class="author-bio">{{site.owner.bio}}</div>
    </div>
    <div class="author-share">
		<ul class="list-inline social-buttons">
        {% for netfad in site.fad %}
          <li><a href="{{ netfad.url }}" target="_blank"><i class="fad fa-{{ netfad.title }} fa-fw"></i></a></li>
        {% endfor %}
        {% for netfab in site.fab %}
          <li><a href="{{ netfab.url }}" target="_blank"><i class="fab fa-{{ netfab.title }} fa-fw"></i></a></li>
        {% endfor %}
        </ul>
      </div>
  </div>
</div>
